services:
  db:
    image: postgres:17
    ports:
      - 5432:5432
    volumes:
      - postgres_data:/var/lib/postgres/data/
      - ./postgres/backups:/backups/
    restart: always
    environment:
      - DB=db
    env_file: .env
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -d postgres -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
    post_start:
      - command: > 
          bash -c '
            until pg_isready -U postgres; do
              echo "Waiting for PostgreSQL to be ready...";
              sleep 1;
            done;

            LATEST_BACKUP=$(ls -t /backups/backup_*.dump 2>/dev/null | head -n1);

            if [ -n "$$LATEST_BACKUP" ]; then
              echo "Found latest backup: $$LATEST_BACKUP";
              export PGPASSWORD='${POSTGRES_PASSWORD}';
              pg_restore --clean --if-exists -U postgres -h db -d postgres -v "$$LATEST_BACKUP";
            else
              echo "No backup files found. Skipping restore.";
            fi
          '
    pre_stop:
      - command: > 
          bash -c '
            echo "Starting backup";
            export PGPASSWORD='${POSTGRES_PASSWORD}';
            BACKUP_FILE="/backups/backup_$(date +%Y%m%d_%H%M%S).dump";
            pg_dump -U postgres -h db -d postgres -Fc -f $$BACKUP_FILE;
            echo "Backup created on pre_stop hook: $$BACKUP_FILE";
          '
    labels:
      ofelia.enabled: true
      ofelia.job-exec.backupdb.schedule: "${POSTGRES_BACKUP_SCHEDULE}"
      ofelia.job-exec.backupdb.command: > 
          bash -c '
            echo "Starting backup";
            export PGPASSWORD='${POSTGRES_PASSWORD}';
            BACKUP_FILE="/backups/backup_$(date +%Y%m%d_%H%M%S).dump";
            pg_dump -U postgres -h db -d postgres -Fc -f $$BACKUP_FILE;
            echo "Backup created on ofelia schedule: $$BACKUP_FILE";

            # Cleaning old backups
            find /backups -name "backup_*.dump" -mtime +'${POSTGRES_BACKUP_MAX_DAYS_STORED}' -delete;
            echo "Cleaned up backups older than '${POSTGRES_BACKUP_MAX_DAYS_STORED}' days"
          '
  api:
    build: ./backend
    ports:
      - 8000:8000
    volumes:
      - ./backend:/backend
      - ./backend/static_root:/usr/src/app/static_root
      - ./backend/media:/usr/src/app/media
    command: >
       sh -c "
        if [ \"$MODE\" = \"production\" ]; then
          echo \"Starting api with gunicorn...\";
          python manage.py makemigrations &&
          python manage.py migrate dimpro &&
          python manage.py collectstatic --noinput &&
          gunicorn backend.wsgi:application --bind 0.0.0.0 --timeout 600;
        else
          echo \"Starting api on dev...\";
          python manage.py makemigrations &&
          python manage.py migrate &&
          python manage.py collectstatic --noinput &&
          python manage.py runserver 0.0.0.0:8000;
        fi"
    depends_on:
      db:
        condition: service_healthy
    env_file: .env
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/api"]  # Replace with a valid health check endpoint
      interval: 10s
      timeout: 5s
      retries: 5
  django-q:
    build: ./backend
    volumes:
      - ./backend:/backend
    command: python manage.py qcluster
    depends_on:
      api:
        condition: service_healthy
    env_file: .env
  frontend:
    build: ./frontend
    volumes:
      - ./frontend:/frontend
    command: >
       sh -c "
        if [ \"$MODE\" = \"production\" ]; then
          echo \"Starting frontend in production...\";
          npm run build &&
          npm run preview;
        else
          echo \"Starting frontend in dev...\";
          npm run dev;
        fi"
    ports:
      - 3000:3000
    env_file: .env
    environment:
      - VITE_ORIGIN=https://${DOMAIN}
  nginx:
    image: nginx:1.13
    restart: on-failure
    ports:
      - 80:80
      - 443:443
    volumes:
      - ./nginx-conf/nginx-dev.conf:/etc/nginx/templates/nginx-dev.conf.template
      - ./nginx-conf/nginx-http.conf:/etc/nginx/templates/nginx-http.conf.template
      - ./nginx-conf/nginx-https.conf:/etc/nginx/templates/nginx-https.conf.template
      - ./nginx-conf/startnginx.sh:/startnginx.sh
      - ./backend/static_root:/usr/src/app/static_root
      - ./backend/media:/usr/src/app/media
      - ./certbot/conf:/etc/letsencrypt
      - ./certbot/www:/var/www/certbot
    depends_on:
      api:
        condition: service_healthy
    command: >
      /bin/bash -c "
      chmod +x /startnginx.sh &&
      /startnginx.sh
      "
    env_file: .env

  certbot:
    image: certbot/certbot
    volumes:
      - ./certbot/conf:/etc/letsencrypt
      - ./certbot/www:/var/www/certbot
    command: certonly --webroot -w /var/www/certbot --keep-until-expiring --email ${EMAIL} -d ${DOMAIN} --agree-tos
    env_file:
      - .env
    depends_on:
      - nginx
  ofelia:
    image: mcuadros/ofelia:latest
    depends_on:
      - db 
      - nginx
      - certbot
    command: daemon --docker
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    env_file:
      - .env
    labels:
      ofelia.enabled: true
      ofelia.job-local.certbot-update.schedule: "${CERTBOT_UPDATE_SCHEDULE}"
      ofelia.job-local.certbot-update.command: >
        sh -c "if [ \"${MODE}\" = \"production\" ]; then
          docker compose exec -T certbot certonly --webroot -w /var/www/certbot --keep-until-expiring --email ${EMAIL} -d ${DOMAIN} --agree-tos --force-renewal &&
          echo \"Certbot succeeded, reloading nginx\" &&
          docker compose exec -T nginx nginx -s reload
        fi"


volumes:
  postgres_data:
